@import '../../../assets/styles/variables.scss';
@import '../../../assets/styles/extends.scss';

.popup {
    @extend %popup;

    &__container {
        @extend %container;
    }

    &_opened {
        visibility: visible;
        opacity: 1;
    }

    &__text {
        font-size: 40px;
        text-align: center;
    }

    &__btncontainer {
        display: flex;
        justify-content: space-between;
    }

    &__button {
        @extend %btn;
        @extend %shadow;
        font-size: 15px;
        border-radius: 32px;
        width: 161px;
        height: 44px;
        color: $primaryText;
        &_orange {
            background-color: $secondary;
        }

        &_gray {
            background-color: $tertiory;
        }
    }
}

.heading {
    display: flex;
    &__button {
        padding: 0;
    }
    &__text {
        margin: 0;
        font-size: 14px;
        color: $secondaryText;
        &_large {
            font-size: 32px;
        }
    }
}
